In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Missing Values, Products

In [4]:
#Creating path string
path = r'C:\Users\Alex Lam\Desktop\Career Foundary\04 Instacart Project'

In [5]:
#Importing products dataframe
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [12]:
#Products dataframe, number of rows before cleaning
df_prods.shape

(49693, 5)

In [8]:
#1.
#Finding missing values totals
#product_name has 16 missing values
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [9]:
#Creating dataframe for missing product_name values
df_nan_prods = df_prods[df_prods['product_name'].isnull() == True]

In [10]:
#Testing df_nan_prods
#16 null values
df_nan_prods

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [11]:
#Removing null values from products dataframe
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [13]:
#Products dataframe, number of rows after cleaning nulls
#Removed 16 null values
df_prods_clean.shape

(49677, 5)

Alternatively, could have used this code to remove null values
df_prods.dropna(subset = [‘product_name’], inplace = True)

# Duplicates, Products

In [14]:
#Creating dataframe for duplicate values in product dataframe
df_dups_prods = df_prods_clean[df_prods_clean.duplicated()]

In [15]:
#Testing df_dups_prods
#5 duplicate values
df_dups_prods

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [16]:
#Creating products dataframe without duplicate
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [19]:
#Products dataframe, number of rows after cleaning duplicates
#Removed 5 duplicate values
df_prods_clean_no_dups.shape

(49672, 5)

# Orders Dataframe

In [20]:
#Importing orders wrangled dataframe
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)

In [21]:
#2.
#No unusual stats
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [25]:
#3.
#Testing for mixed columns in Orders dataframe
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

#4.
No mixed-typed data in Orders dataframe

In [26]:
#Finding missing values totals
#days_since_prior_order has 206209 missing values
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [28]:
#Seeing distribution for days_since_prior_order value
df_ords['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [30]:
#Null values occur with every first order each user has, since they have not had a prior order all null values should be 0 days since last order
df_ords.head(50)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0
5,5,3367565,1,prior,6,2,7,19.0
6,6,550135,1,prior,7,1,9,20.0
7,7,3108588,1,prior,8,1,14,14.0
8,8,2295261,1,prior,9,1,16,0.0
9,9,2550362,1,prior,10,4,8,30.0
10,10,1187899,1,train,11,4,8,14.0
11,11,2168274,2,prior,1,2,11,NaN
12,12,1501582,2,prior,2,5,10,10.0
13,13,1901567,2,prior,3,1,10,3.0
14,14,738281,2,prior,4,2,10,8.0
15,15,1673511,2,prior,5,3,11,8.0
16,16,1199898,2,prior,6,2,9,13.0
17,17,3194192,2,prior,7,2,12,14.0
18,18,788338,2,prior,8,1,15,27.0
19,19,1718559,2,prior,9,2,9,8.0
20,20,1447487,2,prior,10,1,11,6.0
21,21,1402090,2,prior,11,1,10,30.0
22,22,3186735,2,prior,12,1,9,28.0
23,23,3268552,2,prior,13,4,11,30.0
24,24,839880,2,prior,14,3,10,13.0
25,25,1492625,2,train,15,1,11,30.0
26,26,1374495,3,prior,1,1,14,NaN
27,27,444309,3,prior,2,3,19,9.0
28,28,3002854,3,prior,3,3,16,21.0
29,29,2037211,3,prior,4,2,18,20.0
30,30,2710558,3,prior,5,0,17,12.0
31,31,1972919,3,prior,6,0,16,7.0
32,32,1839752,3,prior,7,0,15,7.0
33,33,3225766,3,prior,8,0,17,7.0
34,34,3160850,3,prior,9,0,16,7.0
35,35,676467,3,prior,10,3,16,17.0
36,36,521107,3,prior,11,0,18,11.0
37,37,1402502,3,prior,12,1,15,15.0
38,38,2774568,3,test,13,5,15,11.0
39,39,3343014,4,prior,1,6,11,NaN
40,40,2030307,4,prior,2,4,11,19.0
41,41,691089,4,prior,3,4,15,21.0
42,42,94891,4,prior,4,5,13,15.0
43,43,2557754,4,prior,5,5,13,0.0
44,44,329954,4,test,6,3,12,30.0
45,45,2717275,5,prior,1,3,12,NaN
46,46,1909121,5,prior,2,0,16,11.0
47,47,2267326,5,prior,3,3,18,10.0
48,48,157374,5,prior,4,1,18,19.0
49,49,2196797,5,train,5,0,11,6.0

In [49]:
#6.
#Filling in all values with 0
df_ords_clean = df_ords.fillna(0)

In [50]:
#Testing new dataframe
df_ords_clean.head(50)

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,0.0
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0
5,5,3367565,1,prior,6,2,7,19.0
6,6,550135,1,prior,7,1,9,20.0
7,7,3108588,1,prior,8,1,14,14.0
8,8,2295261,1,prior,9,1,16,0.0
9,9,2550362,1,prior,10,4,8,30.0
10,10,1187899,1,train,11,4,8,14.0
11,11,2168274,2,prior,1,2,11,0.0
12,12,1501582,2,prior,2,5,10,10.0
13,13,1901567,2,prior,3,1,10,3.0
14,14,738281,2,prior,4,2,10,8.0
15,15,1673511,2,prior,5,3,11,8.0
16,16,1199898,2,prior,6,2,9,13.0
17,17,3194192,2,prior,7,2,12,14.0
18,18,788338,2,prior,8,1,15,27.0
19,19,1718559,2,prior,9,2,9,8.0
20,20,1447487,2,prior,10,1,11,6.0
21,21,1402090,2,prior,11,1,10,30.0
22,22,3186735,2,prior,12,1,9,28.0
23,23,3268552,2,prior,13,4,11,30.0
24,24,839880,2,prior,14,3,10,13.0
25,25,1492625,2,train,15,1,11,30.0
26,26,1374495,3,prior,1,1,14,0.0
27,27,444309,3,prior,2,3,19,9.0
28,28,3002854,3,prior,3,3,16,21.0
29,29,2037211,3,prior,4,2,18,20.0
30,30,2710558,3,prior,5,0,17,12.0
31,31,1972919,3,prior,6,0,16,7.0
32,32,1839752,3,prior,7,0,15,7.0
33,33,3225766,3,prior,8,0,17,7.0
34,34,3160850,3,prior,9,0,16,7.0
35,35,676467,3,prior,10,3,16,17.0
36,36,521107,3,prior,11,0,18,11.0
37,37,1402502,3,prior,12,1,15,15.0
38,38,2774568,3,test,13,5,15,11.0
39,39,3343014,4,prior,1,6,11,0.0
40,40,2030307,4,prior,2,4,11,19.0
41,41,691089,4,prior,3,4,15,21.0
42,42,94891,4,prior,4,5,13,15.0
43,43,2557754,4,prior,5,5,13,0.0
44,44,329954,4,test,6,3,12,30.0
45,45,2717275,5,prior,1,3,12,0.0
46,46,1909121,5,prior,2,0,16,11.0
47,47,2267326,5,prior,3,3,18,10.0
48,48,157374,5,prior,4,1,18,19.0
49,49,2196797,5,train,5,0,11,6.0

In [51]:
#7.
#Creating dataframe for duplicate values in orders dataframe
df_dups_ords = df_ords_clean[df_ords_clean.duplicated()]

In [52]:
#Testing df_dups_ords
#No duplicate values
df_dups_ords

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

In [53]:
#8.
#Creating dataframe to remove any potential duplicate values
df_ords_clean_no_dups = df_ords_clean.drop_duplicates()

# Exporting checked dataframes

In [54]:
#9.
#Exporting df_prods_clean_no_dups to departments_checked
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_checked.csv'))

In [57]:
#9.
#Exporting df_ords_clean_no_dups to orders_checked
df_ords_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))